<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Rsvp</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <div class="brand">
          <%= link "RSVP", to: Routes.page_path(@conn, :index) %>
        </div>
        <nav role="navigation">
          <ul class="nav">
            <li><a href="<%= Routes.event_path(@conn, :list) %>">All Events</a></li>
          </ul>
          <ul class="nav right">
            <li>
              <%= if @conn.cookies["username"] do %>
                <%= format_username(@conn.cookies["username"]) %>
              <% else %>
                <li>
                  <%= link "Login", to: Routes.login_path(@conn, :index) %>
                </li>
              <% end %>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </body>
</html>
